<%-layout("/layouts/boilerplate") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">
            <!-- <br><br> -->
            <h3>Create new listings</h3>
            <!-- <br><br> -->


                <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-lable">Title</label>
                        <input 
                            name="listing[title]" 
                            placeholder="Add a catchy title"
                            type="text" 
                            class="form-control"
                            required
                        />
                        <div class="invalid-feedback">Please enter the tittle </div>
                        <div class="valid-feedback">Title looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-lable">Description</label>
                        <textarea 
                            name="listing[description]"
                            placeholder="Enter description"
                            class="form-control"
                            required
                            >
                        </textarea>
                        <div class="invalid-feedback">Please enter the description</div>
                        <div class="valid-feedback">description looks good!</div>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="image" class="form-lable">Image Link</label>
                        <input 
                            name="listing[image]"
                            placeholder="Enter image URL/link" 
                            type="text"
                            class="form-control"
                        /> -->
                        <div class="mb-3">
                            <label for="image" class="form-lable">Upoad Listing image</label>
                            <input 
                                name="listing[image]"
                                placeholder="Enter image URL/link" 
                                type="file"
                                class="form-control"
                            />
                        <div class="invalid-feedback">Please enter the image</div>
                        <div class="valid-feedback">image looks good!</div>
                    </div>

                    <!-- price & country same line -->
                    <div class="row">                     
                        <div class="mb-3 col-md-4">                                               <!--   price div   --> 
                            <label for="price" class="form-lable">Price</label>
    
                            <input 
                                name="listing[price]" 
                                placeholder="1200" 
                                type="number"
                                class="form-control"
                                required
                                />
                                <div class="invalid-feedback">Please enter the price </div>
                        <div class="valid-feedback">price looks good!</div>
                        

                        </div>
                        <!--  country div -->
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-lable">Country</label>
                            <input 
                            name="listing[country]" 
                            placeholder="Noida,Delhi" 
                            type="text"
                            class="form-control"
                            required
                            />
                            <div class="invalid-feedback">Please enter the country </div>
                            <div class="valid-feedback">country looks good!</div>
                        </div>
                     </div>
                   <!--  location div -->
                    <div class="mb-3">
                        <label for="location" class="form-lable">Location</label>
                        <input 
                        name="listing[location]" 
                        placeholder="Enter location" 
                        type="text"
                        class="form-control"
                        required
                        />
                        <div class="invalid-feedback">Please enter the location </div>
                        <div class="valid-feedback">location looks good!</div>
                    </div>
                        <br>
                        <button class="btn btn-dark add-btn">Add</button>
                        <br><br>
                </form>
        </div>
    </div>

</body>
